.ui-search {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.ui-search input {
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.ui-search input {
    text-indent: 35px;
}

.ui-search .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
}