.fa-folder:before {
  color: #f9c01c;
}

::ng-deep .ui-tree-container {
  /* color: #2c3744; */
  color: #FFFFFF;
}

::ng-deep .fa-folder::before {
  color: #f9c01c;
}

::ng-deep .fa-folder-open::before {
  color:yellowgreen;
}

::ng-deep .fa-folder-open.delete::before {
  color:red;
}
::ng-deep .fa-file.delete::before {
  color:red;
}
::ng-deep .fa-file::before {
  color:green;
}


::ng-deep .fa-folder-minus::before {
  color: red;
}


/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; width:100%; margin:0; text-align:left;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0 0 15px 0; padding:0; font-size:20px; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif;}
.col1, .col1 a{color:#FFFFFF; background-color:#124f76;}
.col2{color:#FFFFFF; background-color:#000000;}
.col3{color:#999999; background-color:#4C4C4E; border-bottom:1px solid #D51D29;}
.col4{color:#FFFFFF; background-color:#232323; border-bottom:1px solid #D51D29;}
.col4 a{color:#FFFFFF; background-color:#232323;}
.col5{color:#666666; background-color:#FFFFFF;}
.col5 a{color:#D51D29; background-color:#FFFFFF;}
.col6{color:#98989A; background-color:#2D2B2B; border-top:1px solid #D51D29;}
.col6 a{color:#CCCCCC; background-color:#2D2B2B;}
.col7, .col7 a{color:#605B5B; background-color:#333333;}

/* ----------------------------------------------Header------------------------------------- */
/* 
#header{padding:20px 0;}
#header h1, #header p{margin:0; padding:0;}
#header .fl_left{display:block; float:left; width:400px;}
#header .fl_right{display:block; float:right; width:468px;}
#header h1{margin:0; font-size:36px; border:none;}
#header h1 a{color:#FFFFFF; background-color:#000000;}
#header div{ color:#FFFFFF; background: #000000} */
