 <form (ngSubmit)="onConfirm()" >
  <div class="modal-header">
      <h4 class="modal-title pull-left">
          AD Query
      </h4>
      <button type="button" class="close pull-right" (click)="hideConfirmationModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">



    <p-radioButton name="groupname" value="1" [(ngModel)]="selectedValue" label="Read"></p-radioButton>
    <p-radioButton name="groupname" value="2" [(ngModel)]="selectedValue" label="Read/Write"></p-radioButton>
    <p-radioButton name="groupname" value="3" [(ngModel)]="selectedValue" label="Read/Write/Delete"></p-radioButton>
    <button  [disabled]="!selectedAD" pButton type="button" icon="pi pi-check" class="ui-button-success" iconPos="right" label="Click" (click)="click()"></button>


    <input type="text" [formControl]="searchField" class="form-control"  placeholder="Filter Description" >


    <p-table #dt [columns]="cols"
    [value]="adlist"
    [paginator]="true"
    [rows]="10"
    selectionMode="single"
    [(selection)]="selectedAD"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    dataKey="samaccountname"
    >
      <ng-template pTemplate="caption">
          <!-- <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div> -->
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{col.header}}
              </th>
          </tr>
       </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
              </td>
          </tr>
      </ng-template>
    </p-table>

  </div>
  <div class="modal-footer">

  </div>
</form>
